#added-favorite {
    color: #d10000;
    display: none;
}

#favorite-regular.active {
    background-color: #ffa500;
    display: none;
}

#added-favorite.active {
    display: block;
    color: #b90000;
}